@import url('/css/components/conversation_form.min.css');
@import url('/css/components/wall_message.min.css');

div.ruling_injection {
    border: 1px solid var(--blocks-borders-and-separators);
    padding: .5em;
    font-size: 1.1rem;
    margin: .5em 0;
}

div.ruling_injection+div.ruling_injection {
    margin-top: 0;
}

div.ruling_injection_2 {
    border: 1px solid var(--blocks-borders-and-separators);
    padding: .5em;
    font-size: 1.1rem;
    margin-bottom: .5em;
}

div.ruling_injection_2+div.publication_tags {
    margin-top: 2em;
}

div.ruling_injection_2 ul {
    margin-left: 2em;
}

div.publication_content.ruling {
    padding-top: 0;
}

div.publication_content.ruling br {
    display: block;
    content: " ";
    margin-bottom: .5em;
}

div.publication_content.ruling br+b,
div.publication_content.ruling br+i {
    display: inline-block;
    margin-top: .5em;
}

div.publication_content.ruling ul {
    margin: .5em 0;
}

div.publication_content.ruling h1 {
    margin: .5em 0;
}

div.publication_content.ruling h1:first-of-type {
    margin-top: 0;
}

div.publication_content.ruling h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin: .5em 0;
    padding-bottom: 0;
}

div.ruling_tags {
    margin-bottom: 1em;
}

div.publication_content a#filled_form_link {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 1.5em;
}

div.publication_content a#link_to_generation {
    position: absolute;
    z-index: 1;
    right: 0;
}

div.tags_cloud.ruling {
    width: 100%;
    float: none;
    margin: 1em 0;
}

div.publications.ruling {
    width: 100%;
    float: none;
}

form#form_ruling_question {
    font-size: .9em;
}

form#form_ruling_question div[id="field_go_back_after_save[0]"] {
    display: none;
}

form#form_ruling_question div.field {
    padding-bottom: 1em;
    border-bottom: 1px dashed #e7e7e7;
}

form#form_ruling_question div.fieldname {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

form#form_ruling_question div.dropfield {
    display: none !important;
}

form#form_ruling_question div.dropfield2 {
    display: flex;
    visibility: visible;
    opacity: 1;
    height: auto !important;
    width: 100% !important;
    border: none !important;
    background-color: transparent !important;
    position: relative !important;
    box-shadow: none;
    overflow: inherit !important;
    z-index: 1;
    padding: 0 !important;
    overflow: unset;
    flex-wrap: wrap;
    column-gap: .5%;
}

form#form_ruling_question div.dropfield2 div.dropfield2_field {
    float: left;
    font-size: 1em;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

form#form_ruling_question div.dropfield2_selecter {
    display: none;
}

@media only screen and (max-device-width: 767px) {
    form#form_ruling_question {
        font-size: .7em;
    }
}