@import url('/css/components/plot.min.css');

div.maincontent_data.autocreated form#form_character div[id^="field_name"] {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

div.maincontent_data.autocreated form#form_character div[id^="field_link_to_roles"]+div[id^="field_name"] {
    width: 48%;
    max-width: 48%;
    min-width: 48%;
}

div.maincontent_data.autocreated form#form_character div[id^="div_link_to_applications"] {
    background-color: transparent;
}

div[id="div_link_to_characters[0]"] a,
div[id="div_link_to_applications[0]"] a {
    display: inline-block;
    padding: .2em;
    width: 100%;
    margin-bottom: .2em;
}

div[id="div_link_to_characters[0]"] a.string2 {
    background-color: var(--underlay-gray);
}

div[id="div_link_to_applications[0]"] a.string2 {
    background-color: var(--underlay-gray);
}

div[id="div_link_to_applications[0]"] a span.application_name {
    display: inline-block;
    width: 40%;
}

div[id="div_link_to_applications[0]"] a span.application_status {
    display: inline-block;
    width: 20%;
}

div[id="div_link_to_applications[0]"] a span.user_name {
    display: inline-block;
    width: 40%;
}

table.menutable.character th#th_header_id {
    font-size: .8em;
    width: 16em;
}

table.menutable.character td span.pgi {
    display: inline-block;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px dotted;
}

table.menutable.character td span.pgi:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

form#form_character div[id="field_team_applications_needed_count[0]"],
form#form_character div[id="field_auto_new_character_creation[0]"] {
    display: none;
}

form#form_character div[id="field_team_applications_needed_count[0]"].shown,
form#form_character div[id="field_auto_new_character_creation[0]"].shown {
    display: block;
}

div.maincontent_data.autocreated div.fieldvalue.read[id^="div_plots_data"] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

@media only screen and (max-device-width: 767px) {
    table.menutable.character th#th_header_id {
        width: 8em;
    }
}