div.maincontent_data.autocreated form#form_area div[id^="field_external_map_link"] {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

div.kind_area div.publication_content {
    padding: 0;
}