@import url('/css/components/conversation_form.min.css');
@import url('/css/components/conversations.min.css');
@import url('/css/components/application_conversations.min.css');
@import url('/css/components/plot.min.css');
@import url('/css/components/history_view.min.css');

div.maincontent_data.autocreated form#form_application div[id^="field_creator_id"],
div.maincontent_data.autocreated form#form_application div[id^="field_project_character_id"],
div.maincontent_data.autocreated form#form_application div[id^="field_switch_to_character"] {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

div.maincontent_data.autocreated form#form_application div[id^="div_creator_id"] {
    background-color: transparent;
}

div.kind_application div.copy_filters_link a {
    padding-right: .5em;
    margin-right: .5em;
    border-right: 1px solid var(--inputs-borders);
}

div.kind_application div.copy_filters_link a:last-of-type {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

div.kind_application div.conversation_form {
    margin: 2.2em 0;
}

input#application_search {
    margin-bottom: 2.2em;
    float: left;
    width: 49%;
    margin-right: 1%;
}

input#application_comments_search {
    margin-bottom: 2.2em;
    float: right;
    width: 49%;
    margin-left: 1%;
}

div.indexer_shown~table.application tr.menu a {
    font-size: .9em;
}

th#th_header_status {
    min-width: 5em;
}

th#th_header_project_group_ids {
    min-width: 15em;
}

th#th_header_project_character_id {
    min-width: 10em;
}

th#th_header_sorter {
    min-width: 10em;
}

th#th_header_creator_id {
    min-width: 20em;
}

th#th_header_responsible_gamemaster_id {
    min-width: 15em;
}

th#th_header_updated_at {
    min-width: 5em;
}

th#th_header_last_update_user_id {
    min-width: 5em;
}

table.application th#th_header_id {
    min-width: 5em;
}

form#form_application h1.data_h1:first-of-type {
    border-top: 1px solid var(--blocks-borders-and-separators);
    padding-top: 1.5rem;
}

form#form_application div[id="name_creator_id[0]"] {
    display: none;
}

form#form_application div[id="div_creator_id[0]"] {
    padding: 0;
    border: 0;
}

form#form_application div[id="div_creator_id[0]"] img {
    width: 4em;
    float: left;
    margin-right: .5em;
}

form#form_application div[id="div_room_neighboors[0]"] {
    background-color: transparent;
}

form#form_application div[id="div_room_neighboors[0]"] a {
    display: inline-block;
    padding: .2em;
    width: 50%;
    margin-bottom: .2em;
}

form#form_application div[id="div_room_neighboors[0]"] a.string2 {
    background-color: var(--underlay-gray);
}

select[name="master_group_selector"],
select[name="documents_generator_selector"] {
    display: none;
}

div.application_user_info {
    text-align: right;
    float: right;
    background-color: var(--underlay-gray);
    color: var(--main-blue);
    border-radius: .3em;
    font-size: .8em;
    margin-left: 1em;
    z-index: 1;
}

div.application_user_info div {
    padding: .5em 1em;
}

div.application_user_info div+div {
    border-top: 1px solid var(--some-borders);
}

div.application_user_info div span {
    margin-left: 2em;
    padding-left: 1.5em;
}

table.application td div.application_user_info div span {
    margin-left: 0;
}

div.application_user_info div span {
    background: left center no-repeat;
    background-size: contain;
}

div.application_user_info div span.c1 {
    background-image: url(/design/networks/vk_icon.svg);
}

div.application_user_info div span.c2 {
    background-image: url(/design/networks/tg_icon.svg);
}

form#form_application a.show_hidden {
    font-size: 80%;
    display: inline-block;
    margin-top: .5em;
}

form#form_application div.contact_info {
    padding-top: .5em;
    padding-left: 4.5em;
}

div.new_application_comment a {
    text-decoration: none;
    display: block;
}

div.new_application_comment a div.wmc_name {
    margin-bottom: 1em;
    font-weight: bold;
}

@media only screen and (max-device-width: 767px) {
    div.maincontent_data.autocreated.kind_application div.filter a.fixed_select {
        font-size: .85em;
    }

    div.kind_application div.conversation_form {
        width: auto;
        margin-top: 0;
    }

    div.kind_application>div.conversation_form div.conversation_form_data textarea {
        height: 4.5em;
    }

    div.application_user_info {
        float: none;
        margin: 0 0 1em 0;
        text-align: center;
        background-color: transparent;
        border: 1px dashed var(--some-borders);
        font-size: 1em;
    }

    div.application_user_info div+div {
        border-top: 1px dashed var(--some-borders);
    }

    form#form_application div[id="div_creator_id[0]"] img {
        width: 3em;
    }

    form#form_application div.contact_info {
        padding-left: 0;
    }

    form#form_application textarea {
        min-height: 5em;
    }

    th#th_header_status {
        min-width: 4em;
    }

    th#th_header_last_update_user_id {
        min-width: 3em;
    }

    th#th_header_updated_at {
        min-width: 7em;
    }

    th#th_header_sorter {
        min-width: 8em;
    }

    th#th_header_project_group_ids {
        min-width: 6em;
    }
}