includes:
	- phpstan-baseline.neon
parameters:
	dynamicConstantNames:
		- KIND
		- CMSVC
		- OBJ_TYPE
		- OBJ_ID
		- BID
		- MODAL
		- TEST_MODE
		- REQUEST_PROJECT_ID
		- CANONICAL_URL
	bootstrapFiles:
		- src/bootstrap.php
	level: 5
	paths:
		- tests
		- lib/fraym/
		- public
		- src
	excludePaths:
		- lib/fraym/Vendor/*
		- src/Lib/*