includes:
	- vendor/alxgarshin/fraym/extension.neon
	- phpstan-baseline.neon
parameters:
	dynamicConstantNames:
		- BID
		- MODAL
		- TEST_MODE
		- REQUEST_PROJECT_ID
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	level: 5
	paths:
		- tests
		- public
		- src
	excludePaths:
		- src/Lib/*