div.eventlist {
    margin-top: 1em;
}

div.eventlist div.eventlist_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.eventlist div.eventlist_controls h2 {
    padding: 0;
    font-weight: normal;
    font-size: 200%;
    text-align: center;
}

div.eventlist div.eventlist_controls button {
    font-size: 1em !important;
    margin: 0;
}

div.eventlist div.eventlist_controls button#prev {
    background-image: url(../vendor/fraym/design/arrow-left.svg) !important;
    background-position: 1em center !important;
}

div.eventlist div.eventlist_controls button#next {
    background-image: url(../vendor/fraym/design/arrow-right.svg) !important;
    background-position: right 1em center !important;
}

div.eventlist div.eventlist_controls button#prev,
div.eventlist div.eventlist_controls button#next {
    background-repeat: no-repeat !important;
    background-size: .7em !important;
    width: 14em;
}

div.eventlist+div.ical {
    border: 1px solid var(--inputs-borders);
    border-top: none;
}

div.eventlist_table {
    margin-top: 1em;
}

div.eventlist_table table {
    width: 100%;
}

div.eventlist_table table td {
    border: 1px solid var(--inputs-borders);
    height: 10em;
    width: 7em;
    vertical-align: top;
    padding: .7em;
    text-align: right;
}

div.eventlist_table table td div {
    text-align: left;
}

div.eventlist_table table td.today {
    background-color: var(--gray-very-light);
    font-weight: bold;
}

div.eventlist_table table td.today div {
    font-weight: normal;
}

div.eventlist_table table tr.eventlist_table_header {
    background-color: var(--forms-background);
    color: var(--color-background-main);
}

div.eventlist_table table tr.eventlist_table_header td {
    height: auto;
}

div.eventlist_table table td div.eventlist_block {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 1.3em;
    font-size: 90%;
}

div.eventlist_table table td div.eventlist_block div.project_event_extended_time,
div.eventlist_table table td div.eventlist_block div.project_event_extended_task,
div.eventlist_table table td div.eventlist_block div.project_event_extended_event,
div.eventlist_table table td div.eventlist_block div.project_event_extended_news {
    width: 1em;
    margin-right: 0;
    padding-left: 1.5em;
    background: left center no-repeat;
    display: inline;
    float: none;
}

div.eventlist_table table td div.eventlist_block div.project_event_extended_time {
    background-image: url(/design/event_time.svg);
    background-size: 1em;
    font-size: 100%;
}

div.eventlist_table table td div.eventlist_block div.project_event_extended_task {
    background-image: url(/design/task.svg);
    background-size: 1em;
    opacity: .7;
}

div.eventlist_table table td div.eventlist_block div.project_event_extended_event {
    background-image: url(/design/event.svg);
    background-size: 1em;
    opacity: .7;
}

div.eventlist_table table td div.eventlist_block div.project_event_extended_news {
    background-image: url(/design/project.svg);
    background-size: 1em;
    opacity: .7;
}

div.eventlist_table table td div.eventlist_block div.project_event_small_name {
    float: none;
    display: inline;
}

div.eventlist_filter {
    border: 1px solid var(--inputs-borders);
    border-bottom: none;
    padding: .2em;
    font-weight: bold;
}

div.eventlist_filter select[name="eventlist_filter_obj"] {
    width: auto;
    font-size: 1em;
}