div.kind_exchange div.publication_annotation {
    margin-top: 1em;
}

div.kind_exchange div.filter {
    vertical-align: top;
    float: right;
    z-index: 1;
    margin-top: -1.5em;
}

div.kind_exchange div.filter select {
    font-size: 1em;
    width: 15em;
}

div.kind_exchange input.search_input {
    width: calc(100% - 20rem);
}

div.kind_exchange div.publication_price {
    float: right;
    margin-left: 1em;
    clear: right;
    background-color: var(--underlay-gray);
    border: 1px solid var(--underlay-gray);
    padding: .8em .9em;
    width: 15em;
    z-index: 1;
    margin-top: .5em;
    border-radius: .6em;
    color: var(--main-blue);
    font-weight: bold;
    font-size: 1.2em;
}

div.kind_exchange div.publication_price:first-of-type {
    margin-top: 0;
}

div.kind_exchange div.publication_price span {
    color: initial;
    font-weight: normal;
    width: 7.7em;
    display: inline-block;
}

div.kind_exchange div.publication_price.inverted {
    background-color: transparent;
    font-weight: normal;
    font-size: 1em;
    width: 18em;
}

@media only screen and (max-device-width: 767px) {
    div.kind_exchange div.filter {
        margin-top: -1.6em;
    }

    div.kind_exchange div.filter select {
        width: 9em;
        max-width: unset;
    }

    div.kind_exchange div.publication_price,
    div.kind_exchange div.publication_price.inverted {
        float: left;
        margin-left: 0;
        margin-right: 2em;
        clear: left;
        font-size: 1em;
        width: 13em;
    }

    div.kind_exchange div.publication_price:first-of-type {
        margin-top: .5em;
    }
}