@import url('/css/components/conversation_form.min.css');
@import url('/css/components/conversations.min.css');

div.kind_wall2 div.page_blocks>div.margin_top:first-of-type {
    margin-top: 0;
}

div.kind_wall2 div.wall_conversation_group {
    margin-bottom: 1.5em;
}

div.wall_conversation_group a.wall_conversation_group_image {
    display: table-cell;
}

div.wall_conversation_group a.wall_conversation_group_image div {
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

div.wall_conversation_group_name {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 1.5em;
}

@media only screen and (max-device-width: 767px) {
    div.kind_wall2 a.outer_add_something_button {
        top: .8em !important;
    }
}