@import url('/css/components/group_list_additional_data.min.css');

div.allrpgRolesListApplicationsListApplication div.helper {
    right: 0;
}

div.allrpgRolesListApplicationsListApplication div.helper {
    top: 0;
    min-width: max-content;
    z-index: 2;
}

div.allrpgRolesListApplicationsListApplication div.helper div.social {
    margin-left: 1em;
    float: right;
    height: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

div.allrpgRolesListApplicationsListApplication div.helper div.social span {
    padding-left: 1.5em;
}

div.allrpgRolesListApplicationsListApplication div.helper div.social span {
    background: left center no-repeat;
    background-size: contain;
    margin-top: .3em;
}

div.allrpgRolesListApplicationsListApplication div.helper div.social span:first-of-type {
    margin-top: 0;
}

div.allrpgRolesListApplicationsListApplication div.helper div.social span a {
    color: var(--color-background-main);
}

div.allrpgRolesListApplicationsListApplication div.helper div.social span.c1 {
    background-image: url(/design/networks/vk_icon.svg);
}

div.allrpgRolesListApplicationsListApplication div.helper div.social span.c2 {
    background-image: url(/design/networks/tg_icon.svg);
}

div.kind_roles div.filter {
    margin: 2.7em 0 2em 0;
    text-align: left;
    clear: both;
}

div.kind_roles div.filter div.group_filter {
    display: none;
    cursor: pointer;
    align-items: center;
    padding: .7em;
    background-color: transparent;
    color: var(--special-gray);
    border: 1px solid var(--special-gray);
    border-radius: .6em;
    margin: 0 .5em .5em 0;
    font-size: .9em;
    width: max-content;
}

div.kind_roles div.filter div.group_filter.inverted {
    background-color: var(--underlay-gray);
    border: 1px solid var(--underlay-gray);
    color: var(--main-blue);
}

div.kind_roles div.filter div.group_filter.shown {
    display: inline-flex;
}

div.kind_roles div.filter div.group_filter a.expand_group {
    margin-left: .5em;
}

div.kind_roles div.filter div.group_filter a.expand_group .sbi {
    display: none;
}

div.kind_roles div.filter div.group_filter a.expand_group .sbi.shown {
    display: inline-block;
}

div.kind_roles div.filter div.group_filter span {
    margin-bottom: 0;
}

div.kind_roles div.filter div.group_filter span.group_list_additional_data span.sbi.sbi-file {
    margin-right: 0;
}

div.allrpgRolesListFilter {
    margin-bottom: .5em;
}

div#allrpgRolesListDiv {
    min-height: 3em;
}

div#allrpgRolesListDiv.allrpgRolesListLoading {
    background: url(/design/ajax-loader.gif) center top no-repeat;
    background-size: 3em;
    opacity: .4;
}

div.allrpgRolesListGroup {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px var(--underlay-gray) solid;
    margin-left: 0;
    font-size: 1.1em;
}

div.allrpgRolesListGroup:first-of-type {
    margin-top: 1.5em;
    border-top: 0;
    padding-top: 0;
}

div.allrpgRolesListGroup:after {
    content: "";
    display: table;
    clear: both;
}

div.allrpgRolesListGroup[data-obj-level="1"] {
    margin-left: 0;
}

div.allrpgRolesListGroup[data-obj-level="2"] {
    margin-left: 2em;
}

div.allrpgRolesListGroup[data-obj-level="3"] {
    margin-left: 4em;
}

div.allrpgRolesListGroup[data-obj-level="4"] {
    margin-left: 6em;
}

div.allrpgRolesListGroup[data-obj-level="5"] {
    margin-left: 8em;
}

div.allrpgRolesListGroup[data-obj-level="6"] {
    margin-left: 10em;
}

div.allrpgRolesListGroupName {
    font-size: 1.5em;
}

div.allrpgRolesListGroup[data-obj-level="1"] div.allrpgRolesListGroupName {
    font-size: 1.5em;
}

div.allrpgRolesListGroup[data-obj-level="2"] div.allrpgRolesListGroupName {
    font-size: 1.4em;
}

div.allrpgRolesListGroup[data-obj-level="3"] div.allrpgRolesListGroupName {
    font-size: 1.3em;
}

div.allrpgRolesListGroup[data-obj-level="4"] div.allrpgRolesListGroupName {
    font-size: 1.2em;
}

div.allrpgRolesListGroup[data-obj-level="5"] div.allrpgRolesListGroupName {
    font-size: 1.1em;
}

div.allrpgRolesListGroup[data-obj-level="6"] div.allrpgRolesListGroupName {
    font-size: 1em;
}

div.allrpgRolesListGroupNamePath {
    font-size: .8em;
}

span.allrpgRolesListGroupNamePathElement {
    display: inline-block;
}

span.allrpgRolesListGroupNamePathSeparator {
    display: inline-block;
    margin: 0 .5em;
}

div.allrpgRolesListGroup span.sbi {
    float: right;
    margin-left: 1em;
}

div.allrpgRolesListGroup span.sbi.disabled {
    opacity: .5;
}

div.allrpgRolesListGroup span.group_move {
    font-size: 1.3em;
    color: var(--color-links);
    z-index: 1;
}

div.allrpgRolesListGroupDescription {
    text-align: justify;
    font-size: 1.1em;
    margin-top: .3em;
}

div.allrpgRolesListGroup div.allrpgRolesListGroupDescription+div.allrpgRolesListString {
    border-top: 1px var(--underlay-gray) dashed;
    padding-top: .5em;
}

div.allrpgRolesListGroupDescription>img {
    max-width: 50% !important;
    margin: 0 auto;
    display: block;
}

div[data-obj-level="2"] div.allrpgRolesListGroupDescription>img {
    left: -1em;
}

div[data-obj-level="3"] div.allrpgRolesListGroupDescription>img {
    left: -2em;
}

div[data-obj-level="4"] div.allrpgRolesListGroupDescription>img {
    left: -3em;
}

div[data-obj-level="5"] div.allrpgRolesListGroupDescription>img {
    left: -4em;
}

div[data-obj-level="6"] div.allrpgRolesListGroupDescription>img {
    left: -5em;
}

div.allrpgRolesListGroupDescription div.allrpgRolesListGroupDescriptionImage {
    max-height: 10em;
    overflow-y: hidden;
    text-align: center;
    max-width: 10em;
    float: left;
    margin-right: .5em;
}

div.allrpgRolesListGroupDescription div.allrpgRolesListGroupDescriptionImage img {
    max-width: 10em;
    max-height: 10em;
}

div.allrpgRolesListGroupDescription:after {
    content: "";
    display: table;
    clear: both;
}

div.allrpgRolesListString {
    margin-top: .5em;
    border-top: 0;
    padding-top: 0;
}

div.allrpgRolesListString+div.allrpgRolesListString {
    border-top: 1px dashed var(--inputs-borders);
    padding-top: .5em;
}

div.allrpgRolesListString:after {
    content: "";
    display: table;
    clear: both;
}

div.allrpgRolesListCharacter {
    float: left;
    width: 81%;
}

div.allrpgRolesListCharacterName {
    float: left;
    width: 25%;
}

div.allrpgRolesListCharacterName a {
    color: var(--color-font-main);
}

div.allrpgRolesListCharacterDescription {
    float: right;
    width: 74%;
    text-align: justify;
}

div.allrpgRolesListCharacterDescription a.id_instead_of_description {
    color: var(--color-font-main);
}

div.allrpgRolesListCharacterDescription span.sbi {
    float: right;
    margin-left: .5em;
}

div.allrpgRolesListString span.character_move {
    float: left;
    font-size: .9em;
    color: var(--color-links);
}

div.allrpgRolesListApplication {
    float: right;
    text-align: right;
    width: 100%;
}

div.allrpgRolesListCharacter+div.allrpgRolesListApplication {
    width: 18%;
}

div.allrpgRolesListCharacter+span+div.allrpgRolesListApplication {
    width: 15%;
}

div.allrpgRolesListApplicationsListApplication a {
    color: var(--color-font-main);
}

div.allrpgRolesListApplicationsListApplication a.sbi-info {
    padding-right: .5em;
    cursor: pointer;
}

div.allrpgRolesListApplicationsListApplicationApply+div.allrpgRolesListApplicationsListApplication {
    margin-top: .5em;
}

div.allrpgRolesListApplicationString {
    width: 100%;
}

div.allrpgRolesListApplicationString:after {
    content: "";
    display: table;
    clear: both;
}

div.allrpgRolesListApplicationString div.allrpgRolesListApplication {
    float: left;
    text-align: left;
    width: 30%;
}

div.allrpgRolesListSorter {
    float: left;
    width: 20%;
}

div.allrpgRolesListStatus {
    float: right;
    width: 20%;
}

div.allrpgRolesListApplicationString div.allrpgRolesListCharacter {
    float: right;
    width: 30%;
}

div.allrpgRolesListApplicationString div.allrpgRolesListCharacterName {
    float: none;
    width: auto;
}

div.roles_helper {
    margin-bottom: 1em;
    background-color: var(--underlay-gray);
    padding: 1em;
}

div.roles_helper pre {
    margin-top: .5em;
    width: 100%;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

div.roles_helper div.roles_helper_functions div#roles_helper_data {
    display: none;
}

div.roles_helper div.roles_helper_functions div#roles_helper_data.shown {
    display: block;
    margin-top: 1em;
}

@media only screen and (max-device-width: 767px) {
    div.roles_helper pre {
        width: 30em;
        margin: 1em 0;
    }

    div.allrpgRolesListGroup {
        margin-left: 0 !important;
        font-size: 1.2em;
    }

    div.allrpgRolesListGroup[data-obj-level="1"] {
        margin-left: 0;
    }

    div.allrpgRolesListGroup[data-obj-level="2"] {
        margin-left: 1em;
    }

    div.allrpgRolesListGroup[data-obj-level="3"] {
        margin-left: 2em;
    }

    div.allrpgRolesListGroup[data-obj-level="4"] {
        margin-left: 3em;
    }

    div.allrpgRolesListGroup[data-obj-level="5"] {
        margin-left: 4em;
    }

    div.allrpgRolesListGroup[data-obj-level="6"] {
        margin-left: 5em;
    }

    div.allrpgRolesListString:after {
        display: none;
    }

    div.allrpgRolesListCharacter {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        float: none;
    }

    div.allrpgRolesListCharacterName,
    div.allrpgRolesListCharacterDescription {
        float: none;
        width: 100%;
    }

    div.allrpgRolesListCharacterName {
        font-size: 1.1em;
    }

    div.allrpgRolesListCharacterDescription {
        margin-top: .5em;
        overflow-wrap: break-word;
    }

    div.allrpgRolesListCharacterDescription span.character_move {
        display: none;
    }

    div.allrpgRolesListGroupDescription>img {
        max-width: 100% !important;
        left: auto !important;
    }

    div.allrpgRolesListCharacter+div.allrpgRolesListApplication {
        float: none;
        margin: .5em 0 0 0;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 1.4em;
        justify-content: center;
        align-items: flex-start;
    }

    div.allrpgRolesListApplication {
        float: none;
        text-align: left;
    }

    div.allrpgRolesListApplicationsList {
        width: 100%;
    }

    div.allrpgRolesListApplicationsListApplication,
    div.allrpgRolesListApplicationsListApplicationApply {
        text-align: left;
    }

    div.allrpgRolesListApplicationsListApplication {
        text-align: left;
        display: inline-block;
        width: 100%;
    }

    div.allrpgRolesListApplicationsListApplication a.sbi-info {
        padding: 0 0 0 2em;
        font-size: 1.2em;
        float: right;
    }
}