@import url('/css/components/group_list_additional_data.min.css');

div.maincontent_data.autocreated form#form_group div[id^="field_link_to_roles"] {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

div.maincontent_data.autocreated form#form_group div[id^="div_link_to_characters"] {
    background-color: transparent;
}

div[id="field_link_to_characters[0]"] a.add_something {
    float: none;
    position: absolute;
    right: 0;
}

div[id="div_link_to_characters[0]"] a,
div[id="div_link_to_applications[0]"] a {
    display: inline-block;
    padding: .2em;
    width: 100%;
    margin-bottom: .2em;
}

div[id="div_link_to_characters[0]"] a.string2 {
    background-color: var(--underlay-gray);
}

div[id="div_link_to_applications[0]"] a.string2 {
    background-color: var(--underlay-gray);
}

div[id="div_link_to_applications[0]"] a span.application_name {
    display: inline-block;
    width: 40%;
}

div[id="div_link_to_applications[0]"] a span.application_status {
    display: inline-block;
    width: 20%;
}

div[id="div_link_to_applications[0]"] a span.user_name {
    display: inline-block;
    width: 40%;
}