div.calendar a.ctrlink,
div.calendar a.ctrlink:link,
div.calendar a.ctrlink:visited {
    margin-top: 2.9em;
    margin-right: 1em;
    z-index: 1;
}

div.calendar div.filter {
    display: inline-block;
    vertical-align: top;
    margin-top: 1.5em;
}

div.calendar div.filter.filter_year {
    margin-left: 1.5em;
}

div.calendar div.filter.filter_cancelled_moved .inputcheckbox+label {
    padding: 0 0 0 3em;
    color: var(--special-gray);
    font-size: .9em;
}

div.calendar div.filter.filter_cancelled_moved div.name {
    margin-right: 0;
}

div.calendar div.filter div.name {
    display: block;
    margin-bottom: .4em;
    font-size: .9em;
}

div.calendar div.filter select {
    font-size: 1em;
    width: auto;
    max-width: 13em;
}

div.calendar div.filter div.fixed_select {
    cursor: pointer;
    display: inline-block;
    padding: .5em;
    background-color: var(--underlay-gray);
    color: var(--main-blue);
    border-radius: .5em;
    margin-right: .5em;
    font-size: .8em;
    margin-top: .5em;
}

div.calendar div.filter div.fixed_select:last-of-type {
    margin-right: 0;
}

div.calendar div.filter.filter_setting {
    max-width: 15em;
}

div.calendar div.filter select#filter_setting {
    max-width: 8em;
}

div.calendar a#change_calendarstyle {
    cursor: pointer;
    display: inline-block;
    padding: .5em 1em;
    background-color: var(--main-blue);
    color: var(--color-background-main);
    border-radius: .6em;
}

div.calendar a#change_calendarstyle:first-letter {
    text-transform: uppercase;
}

div.calendar .player {
    background-color: #550000 !important;
    color: var(--white) !important;
}

div.calendar .master {
    background-color: #000044 !important;
    color: var(--white) !important;
}

div.calendar .tech {
    background-color: #004400 !important;
    color: var(--white) !important;
}

div.calendar .player a,
div.calendar .master a,
div.calendar .tech a {
    color: var(--white);
}

div.calendar .cancelled_moved {
    opacity: .7;
}

div.calendar .cancelled_moved span.small {
    display: block;
    font-size: .6em;
}

div.calendar_event_cards {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.2em;
    width: 100%;
}

div.calendar_event_month {
    background-color: var(--main-blue);
    color: var(--color-background-main);
    font-size: 1.2em;
    border-radius: .7em;
    padding: 1em;
    grid-column: span 4;
}

div.calendar_event_card {
    display: grid;
    padding: 1.5rem;
    border: 1px solid var(--blocks-borders-and-separators);
    border-radius: 1.3rem;
    grid-template-columns: 1fr 7em 4em;
    align-items: center;
    grid-gap: 1em;
}

div.indexer_shown+div div.calendar_event_card {
    grid-template-columns: 1fr 6em 4em;
}

div.calendar_event_card.cancelled_moved {
    opacity: .7;
}

div.calendar_event_card div.name {
    font-weight: bold;
    display: flex;
    align-items: center;
    grid-column: span 2;
}

div.calendar_event_card div.name a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.calendar_event_card a.link {
    margin-right: .5em;
    display: inline-flex;
    width: 1.3em;
    max-width: 1.3em;
    min-width: 1.3em;
    height: 1.3em;
    background: url(/design/input-info-b.svg) no-repeat center center;
    background-size: contain;
}

div.calendar_event_card a.link.v {
    background-image: url(/design/soc-vk.svg);
}

div.calendar_event_card div.dates span.small {
    display: block;
    font-size: .9em;
}

div.calendar_event_card div.people {
    padding-left: 1.5em;
    background: url(/design/people_circle.svg) no-repeat left center;
    background-size: 1em;
    line-height: 1em;
}

div.calendar_event_card div.place {
    opacity: .4;
}

div.calendar_event_card div.misc {
    font-size: 1em;
}

div.calendar_event_card div.misc a,
div.calendar_event_card div.misc2 a {
    padding-left: 1.2em;
    background: left center no-repeat;
    background-size: 1em;
    margin-right: .3em;
}

div.calendar_event_card div.misc a.rating {
    background-image: url(/design/like.svg);
}

div.calendar_event_card div.misc a.notion {
    background-image: url(../vendor/fraym/design/input-checked.svg);
}

div.calendar_event_card div.misc a:last-of-type,
div.calendar_event_card div.misc2 a:last-of-type {
    margin-right: 0;
}

div.calendar_event_card div.show_hidden {
    cursor: pointer;
}

div.calendar_event_card div.misc2 a.report {
    background-image: url(/design/application.svg);
}

div.calendar_event_card div.misc2 a.gallery {
    background-image: url(/design/event_place.svg);
    background-size: .9em;
}

div.calendar div.legend {
    line-height: 1.5em;
    margin-top: 1em;
}

div.calendar div.legend span {
    padding: .5em;
    display: inline-block;
}

div.calendar div.calendar_tables_container {
    display: none;
    grid-gap: 3em;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
}

div.calendar div.calendar_tables_container.shown {
    display: grid;
    margin-top: 2.5em;
}

table.calendar_table {
    width: 100%;
}

table.calendar_table,
table.calendar_table th,
table.calendar_table td {
    border: 1px solid var(--blocks-borders-and-separators);
}

table.calendar_table tr:nth-child(odd) {
    background-color: var(--underlay-gray);
}

table.calendar_table th,
table.calendar_table td {
    text-align: center;
    padding: .5em;
}

table.calendar_table td[rel-date] {
    cursor: pointer;
}

table.calendar_table td sup {
    font-size: 80%;
    float: right;
    margin-top: -.2em;
}

div.calendar_event_photos_videos_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

div.calendar_event_photo_video {
    flex: 1;
    width: 24%;
    min-width: 24%;
    max-width: 24%;
    background-color: var(--underlay-gray);
    margin-bottom: 1em;
}

div.calendar_event_photo_video img {
    max-width: 100%;
}

div.calendar_event_photo_video div.calendar_event_photo_video_controls {
    background-color: var(--color-background-main);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: .3em;
}

div.calendar_event_photo_video div.calendar_event_photo_video_controls a.calendar_event_photo_video_edit {
    width: 1em;
    height: 1.2em;
    background: url(/design/edit.svg) left center no-repeat;
    background-size: contain;
    display: inline-block;
    opacity: .6;
    vertical-align: top;
    margin-right: .2em;
}

div.calendar_event_photo_video div.calendar_event_photo_video_controls a.calendar_event_photo_video_edit {
    width: 1em;
    height: 1.2em;
    background: url(/design/edit.svg) left center no-repeat;
    background-size: contain;
    display: inline-block;
    opacity: .6;
    vertical-align: top;
    margin-right: .2em;
}

div.calendar_event_photo_video div.calendar_event_photo_video_description {
    background-color: var(--color-background-main);
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 80%;
    z-index: 1;
    text-align: right;
    padding: .5em;
}

@media only screen and (max-device-width: 767px) {
    div.calendar div.calendar_tables_container {
        grid-template-columns: repeat(1, 1fr);
    }

    div.calendar form {
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
    }

    div.kind_calendar+div.indexer br {
        display: none;
    }

    div.calendar div.filter {
        margin: 0 1em 1em 0;
    }

    div.calendar div.filter.filter_year {
        float: right;
        margin: 2.9em 0 0 0;
        font-size: 1.2em;
    }

    div.calendar div.filter.filter_year div.name,
    div.calendar div.filter.filter_year div.fixed_selects {
        display: none;
    }

    div.filters_cancelled_calendarstyle {
        max-width: min-content;
    }

    div.calendar a#change_calendarstyle {
        margin-top: 1em;
    }

    div.calendar div.filter.filter_cancelled_moved {
        margin: 1em 0 0 0;
    }

    div.calendar div.filter.filter_gametype2 {
        margin-bottom: 0;
    }

    div.calendar table thead span.hidden {
        display: inline !important;
    }

    div.calendar_event_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    div.indexer_shown+div div.calendar_event_card {
        grid-template-columns: 1fr 7em 4em;
    }

    div.calendar_event_month {
        grid-column: span 1;
    }
}