div.maincontent_data.autocreated form#form_ruling_item_edit div[id^="field_obj_helper_1"],
div.maincontent_data.autocreated form#form_ruling_item_edit div[id^="field_name"] {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}